@import 'variables';
@import 'basics';

/* topbar */
.topbar {
    text-align: center;
    border-top: 5px solid $primary;
    border-bottom: 1px solid $lightgray;
    padding: 20px 0;
    a {
        font-size: 2rem;
        text-shadow: 0 0 1px $text;
        &:hover {
            color: $text;
        }
        i {
            color: $text;
            margin-right: 10px;
            font-size: 2.5rem;
        }
    }
}

/* nav */
nav {
    text-align: center;
    ul li {
        display: inline-block;
        margin: 30px;
        a {
            color: $black;
            text-transform: uppercase;
            &:hover {
                color: $primary;
            }
        }
    }
}

/* header */
header {
    background-image: url(../img/header.jpg);
    padding: 200px 0;
    background-position: center top;
    background-size: cover;
    article {
        width: 30%;
        padding: 40px;
        background: rgba(255, 255, 255, .7);
        margin-left: 15%;
        h1 {
            &::after {
                display: block;
                content: "";
                width: 50px;
                background: $primary;
                height: 3px;
                margin: 20px 0;
            }
        }
        button {
            background: $primary;
            border: none;
            color: $white;
            transition: $transition;
            &:hover {
                color: $black;
            }
        }
    }
}

/* featuredItems */
.featuredItems {
    h2 {
    margin-bottom: 30px;
    }
    .owl-carousel {
        .item {
            border: 1px solid $borders;
            padding: 30px;
            border-radius: 5px;
            transition: $transition;
            &:hover {
                border: 1px solid $primary;
            }
        }
    }
}

/* subscribe */
.subscribe {
    text-align: center;
    background: $primary;
    color: $white;
    h3 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    p {
        margin: 20px;
    }
    input {
        padding: 10px;
        border-radius: 5px;
    }
    input[type="text"] {
        background: transparent;
        border: 1px solid $white;
        color: $white;
    }
    input[type="submit"] {
        background: $white;
        border: 1px solid $white;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background: $black;
            color: $white;
            border: 1px solid $black;
        }
    }
}

/* footer */
footer {
    text-align: center;
    h3 a {
        font-size: 1.5rem;
        &:hover {
            color: $text;
        }
        i {
            color: $text;
            margin-right: 10px;
            font-size: 2rem;
        }
    }
    nav {
        ul li {
            margin: 15px;
            a {
                font-size: .8rem;
            }
        }
    }
    .icons {
        a i {
            color: $text;
            margin-right: 10px;
            font-size: 1.7rem;
            transition: $transition;
            &:hover {
                color: $primary;
            }
        }
    }
    article:last-child {
        border-top: 1px solid $lightgray;
        padding: 15px 0;
    }
}

/* products */
.products {
    article {
        display: flex;
        flex-wrap: wrap;
        .item {
            align-items: center;
            justify-content: space-between;
            width: 22%;
            border: 1px solid $borders;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            transition: $transition;
            &:hover {
                border: 1px solid $primary;
            }
            img {
                width: 100%;
            }
        }
    }
} 


/* single */
.single h2 {
    margin-bottom: 20px;
}
.single article div:first-child {
    float: left;
    width: 40%;
}
.single article div:last-child {
    float: right;
    width: 55%;
}
.single img {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.single h3 {
    font-size: 1.7rem;
}
.single .price {
    color: var(--primary);
    font-size: 1.2rem;
}
.single p {
    font-weight: 300;
    padding: 10px 0;
}
.single button {
    background: var(--primary);
    border: none;
    color: var(--white);
}
.single button:hover {
    background: var(--black);
}
.single select {
    border: 1px solid var(--primary);
    padding: 15px;
    border-radius: 5px;
    margin: 0 10px;
}

